<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nami.boot.mapper.AssetsMapper">
  <resultMap id="BaseResultMap" type="com.nami.boot.entity.Assets">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_code" jdbcType="VARCHAR" property="businessCode" />
    <result column="business_trans_ref" jdbcType="VARCHAR" property="businessTransRef" />
    <result column="assets_amount" jdbcType="DECIMAL" property="assetsAmount" />
    <result column="phase" jdbcType="INTEGER" property="phase" />
    <result column="phase_unit" jdbcType="VARCHAR" property="phaseUnit" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="start_date" jdbcType="VARCHAR" property="startDate" />
    <result column="expire_date" jdbcType="VARCHAR" property="expireDate" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="client_id_card" jdbcType="VARCHAR" property="clientIdCard" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="df_assets_package_id" jdbcType="INTEGER" property="dfAssetsPackageId" />
    <result column="number_of_exhibition_period" jdbcType="INTEGER" property="numberOfExhibitionPeriod" />
    <result column="client_mobile" jdbcType="VARCHAR" property="clientMobile" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="client_certificate_type" jdbcType="VARCHAR" property="clientCertificateType" />
    <result column="client_education_background" jdbcType="VARCHAR" property="clientEducationBackground" />
    <result column="client_marital_status" jdbcType="VARCHAR" property="clientMaritalStatus" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="over_raised_cause" jdbcType="VARCHAR" property="overRaisedCause" />
    <result column="accounting_date" jdbcType="TIMESTAMP" property="accountingDate" />
    <result column="repayment_date" jdbcType="TIMESTAMP" property="repaymentDate" />
    <result column="cause_of_failur" jdbcType="VARCHAR" property="causeOfFailur" />
    <result column="asset_trans_result" jdbcType="VARCHAR" property="assetTransResult" />
    <result column="interest" jdbcType="DECIMAL" property="interest" />
    <result column="asset_repayment_result" jdbcType="VARCHAR" property="assetRepaymentResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cover_charge" jdbcType="DECIMAL" property="coverCharge" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="drawals_status" jdbcType="CHAR" property="drawalsStatus" />
    <result column="gateway_pay_status" jdbcType="CHAR" property="gatewayPayStatus" />
    <result column="repayment_status" jdbcType="CHAR" property="repaymentStatus" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="gateway_pay_time" jdbcType="TIMESTAMP" property="gatewayPayTime" />
    <result column="drawals_time" jdbcType="TIMESTAMP" property="drawalsTime" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="loan_biz_id" jdbcType="VARCHAR" property="loanBizId" />
    <result column="order_fund_status" jdbcType="VARCHAR" property="orderFundStatus" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="id_card_pic" jdbcType="VARCHAR" property="idCardPic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, business_code, business_trans_ref, assets_amount, phase, phase_unit, currency, 
    start_date, expire_date, client_name, client_id_card, commit_time, edit_time, df_assets_package_id, 
    number_of_exhibition_period, client_mobile, client_id, client_certificate_type, client_education_background, 
    client_marital_status, status, over_raised_cause, accounting_date, repayment_date, 
    cause_of_failur, asset_trans_result, interest, asset_repayment_result, create_time, 
    update_time, cover_charge, pay_amount, drawals_status, gateway_pay_status, repayment_status, 
    refund_time, gateway_pay_time, drawals_time, bank_card_no, loan_biz_id, order_fund_status, 
    bank_id, id_card_pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from df_assets
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from df_assets
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nami.boot.entity.Assets">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into df_assets (id, business_code, business_trans_ref, 
      assets_amount, phase, phase_unit, 
      currency, start_date, expire_date, 
      client_name, client_id_card, commit_time, 
      edit_time, df_assets_package_id, number_of_exhibition_period, 
      client_mobile, client_id, client_certificate_type, 
      client_education_background, client_marital_status, 
      status, over_raised_cause, accounting_date, 
      repayment_date, cause_of_failur, asset_trans_result, 
      interest, asset_repayment_result, create_time, 
      update_time, cover_charge, pay_amount, 
      drawals_status, gateway_pay_status, repayment_status, 
      refund_time, gateway_pay_time, drawals_time, 
      bank_card_no, loan_biz_id, order_fund_status, 
      bank_id, id_card_pic)
    values (#{id,jdbcType=INTEGER}, #{businessCode,jdbcType=VARCHAR}, #{businessTransRef,jdbcType=VARCHAR}, 
      #{assetsAmount,jdbcType=DECIMAL}, #{phase,jdbcType=INTEGER}, #{phaseUnit,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{expireDate,jdbcType=VARCHAR}, 
      #{clientName,jdbcType=VARCHAR}, #{clientIdCard,jdbcType=VARCHAR}, #{commitTime,jdbcType=TIMESTAMP}, 
      #{editTime,jdbcType=TIMESTAMP}, #{dfAssetsPackageId,jdbcType=INTEGER}, #{numberOfExhibitionPeriod,jdbcType=INTEGER}, 
      #{clientMobile,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{clientCertificateType,jdbcType=VARCHAR}, 
      #{clientEducationBackground,jdbcType=VARCHAR}, #{clientMaritalStatus,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{overRaisedCause,jdbcType=VARCHAR}, #{accountingDate,jdbcType=TIMESTAMP}, 
      #{repaymentDate,jdbcType=TIMESTAMP}, #{causeOfFailur,jdbcType=VARCHAR}, #{assetTransResult,jdbcType=VARCHAR}, 
      #{interest,jdbcType=DECIMAL}, #{assetRepaymentResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{coverCharge,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, 
      #{drawalsStatus,jdbcType=CHAR}, #{gatewayPayStatus,jdbcType=CHAR}, #{repaymentStatus,jdbcType=CHAR}, 
      #{refundTime,jdbcType=TIMESTAMP}, #{gatewayPayTime,jdbcType=TIMESTAMP}, #{drawalsTime,jdbcType=TIMESTAMP}, 
      #{bankCardNo,jdbcType=VARCHAR}, #{loanBizId,jdbcType=VARCHAR}, #{orderFundStatus,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=VARCHAR}, #{idCardPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nami.boot.entity.Assets">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into df_assets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="businessCode != null">
        business_code,
      </if>
      <if test="businessTransRef != null">
        business_trans_ref,
      </if>
      <if test="assetsAmount != null">
        assets_amount,
      </if>
      <if test="phase != null">
        phase,
      </if>
      <if test="phaseUnit != null">
        phase_unit,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="expireDate != null">
        expire_date,
      </if>
      <if test="clientName != null">
        client_name,
      </if>
      <if test="clientIdCard != null">
        client_id_card,
      </if>
      <if test="commitTime != null">
        commit_time,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="dfAssetsPackageId != null">
        df_assets_package_id,
      </if>
      <if test="numberOfExhibitionPeriod != null">
        number_of_exhibition_period,
      </if>
      <if test="clientMobile != null">
        client_mobile,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="clientCertificateType != null">
        client_certificate_type,
      </if>
      <if test="clientEducationBackground != null">
        client_education_background,
      </if>
      <if test="clientMaritalStatus != null">
        client_marital_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="overRaisedCause != null">
        over_raised_cause,
      </if>
      <if test="accountingDate != null">
        accounting_date,
      </if>
      <if test="repaymentDate != null">
        repayment_date,
      </if>
      <if test="causeOfFailur != null">
        cause_of_failur,
      </if>
      <if test="assetTransResult != null">
        asset_trans_result,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="assetRepaymentResult != null">
        asset_repayment_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="coverCharge != null">
        cover_charge,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="drawalsStatus != null">
        drawals_status,
      </if>
      <if test="gatewayPayStatus != null">
        gateway_pay_status,
      </if>
      <if test="repaymentStatus != null">
        repayment_status,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
      <if test="gatewayPayTime != null">
        gateway_pay_time,
      </if>
      <if test="drawalsTime != null">
        drawals_time,
      </if>
      <if test="bankCardNo != null">
        bank_card_no,
      </if>
      <if test="loanBizId != null">
        loan_biz_id,
      </if>
      <if test="orderFundStatus != null">
        order_fund_status,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="idCardPic != null">
        id_card_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="businessCode != null">
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessTransRef != null">
        #{businessTransRef,jdbcType=VARCHAR},
      </if>
      <if test="assetsAmount != null">
        #{assetsAmount,jdbcType=DECIMAL},
      </if>
      <if test="phase != null">
        #{phase,jdbcType=INTEGER},
      </if>
      <if test="phaseUnit != null">
        #{phaseUnit,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null">
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientIdCard != null">
        #{clientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="commitTime != null">
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dfAssetsPackageId != null">
        #{dfAssetsPackageId,jdbcType=INTEGER},
      </if>
      <if test="numberOfExhibitionPeriod != null">
        #{numberOfExhibitionPeriod,jdbcType=INTEGER},
      </if>
      <if test="clientMobile != null">
        #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientCertificateType != null">
        #{clientCertificateType,jdbcType=VARCHAR},
      </if>
      <if test="clientEducationBackground != null">
        #{clientEducationBackground,jdbcType=VARCHAR},
      </if>
      <if test="clientMaritalStatus != null">
        #{clientMaritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="overRaisedCause != null">
        #{overRaisedCause,jdbcType=VARCHAR},
      </if>
      <if test="accountingDate != null">
        #{accountingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentDate != null">
        #{repaymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="causeOfFailur != null">
        #{causeOfFailur,jdbcType=VARCHAR},
      </if>
      <if test="assetTransResult != null">
        #{assetTransResult,jdbcType=VARCHAR},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=DECIMAL},
      </if>
      <if test="assetRepaymentResult != null">
        #{assetRepaymentResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coverCharge != null">
        #{coverCharge,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="drawalsStatus != null">
        #{drawalsStatus,jdbcType=CHAR},
      </if>
      <if test="gatewayPayStatus != null">
        #{gatewayPayStatus,jdbcType=CHAR},
      </if>
      <if test="repaymentStatus != null">
        #{repaymentStatus,jdbcType=CHAR},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gatewayPayTime != null">
        #{gatewayPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="drawalsTime != null">
        #{drawalsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankCardNo != null">
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="loanBizId != null">
        #{loanBizId,jdbcType=VARCHAR},
      </if>
      <if test="orderFundStatus != null">
        #{orderFundStatus,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="idCardPic != null">
        #{idCardPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nami.boot.entity.Assets">
    update df_assets
    <set>
      <if test="businessCode != null">
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessTransRef != null">
        business_trans_ref = #{businessTransRef,jdbcType=VARCHAR},
      </if>
      <if test="assetsAmount != null">
        assets_amount = #{assetsAmount,jdbcType=DECIMAL},
      </if>
      <if test="phase != null">
        phase = #{phase,jdbcType=INTEGER},
      </if>
      <if test="phaseUnit != null">
        phase_unit = #{phaseUnit,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientIdCard != null">
        client_id_card = #{clientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="commitTime != null">
        commit_time = #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dfAssetsPackageId != null">
        df_assets_package_id = #{dfAssetsPackageId,jdbcType=INTEGER},
      </if>
      <if test="numberOfExhibitionPeriod != null">
        number_of_exhibition_period = #{numberOfExhibitionPeriod,jdbcType=INTEGER},
      </if>
      <if test="clientMobile != null">
        client_mobile = #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientCertificateType != null">
        client_certificate_type = #{clientCertificateType,jdbcType=VARCHAR},
      </if>
      <if test="clientEducationBackground != null">
        client_education_background = #{clientEducationBackground,jdbcType=VARCHAR},
      </if>
      <if test="clientMaritalStatus != null">
        client_marital_status = #{clientMaritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="overRaisedCause != null">
        over_raised_cause = #{overRaisedCause,jdbcType=VARCHAR},
      </if>
      <if test="accountingDate != null">
        accounting_date = #{accountingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentDate != null">
        repayment_date = #{repaymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="causeOfFailur != null">
        cause_of_failur = #{causeOfFailur,jdbcType=VARCHAR},
      </if>
      <if test="assetTransResult != null">
        asset_trans_result = #{assetTransResult,jdbcType=VARCHAR},
      </if>
      <if test="interest != null">
        interest = #{interest,jdbcType=DECIMAL},
      </if>
      <if test="assetRepaymentResult != null">
        asset_repayment_result = #{assetRepaymentResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coverCharge != null">
        cover_charge = #{coverCharge,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="drawalsStatus != null">
        drawals_status = #{drawalsStatus,jdbcType=CHAR},
      </if>
      <if test="gatewayPayStatus != null">
        gateway_pay_status = #{gatewayPayStatus,jdbcType=CHAR},
      </if>
      <if test="repaymentStatus != null">
        repayment_status = #{repaymentStatus,jdbcType=CHAR},
      </if>
      <if test="refundTime != null">
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gatewayPayTime != null">
        gateway_pay_time = #{gatewayPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="drawalsTime != null">
        drawals_time = #{drawalsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankCardNo != null">
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="loanBizId != null">
        loan_biz_id = #{loanBizId,jdbcType=VARCHAR},
      </if>
      <if test="orderFundStatus != null">
        order_fund_status = #{orderFundStatus,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="idCardPic != null">
        id_card_pic = #{idCardPic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nami.boot.entity.Assets">
    update df_assets
    set business_code = #{businessCode,jdbcType=VARCHAR},
      business_trans_ref = #{businessTransRef,jdbcType=VARCHAR},
      assets_amount = #{assetsAmount,jdbcType=DECIMAL},
      phase = #{phase,jdbcType=INTEGER},
      phase_unit = #{phaseUnit,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR},
      expire_date = #{expireDate,jdbcType=VARCHAR},
      client_name = #{clientName,jdbcType=VARCHAR},
      client_id_card = #{clientIdCard,jdbcType=VARCHAR},
      commit_time = #{commitTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      df_assets_package_id = #{dfAssetsPackageId,jdbcType=INTEGER},
      number_of_exhibition_period = #{numberOfExhibitionPeriod,jdbcType=INTEGER},
      client_mobile = #{clientMobile,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      client_certificate_type = #{clientCertificateType,jdbcType=VARCHAR},
      client_education_background = #{clientEducationBackground,jdbcType=VARCHAR},
      client_marital_status = #{clientMaritalStatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      over_raised_cause = #{overRaisedCause,jdbcType=VARCHAR},
      accounting_date = #{accountingDate,jdbcType=TIMESTAMP},
      repayment_date = #{repaymentDate,jdbcType=TIMESTAMP},
      cause_of_failur = #{causeOfFailur,jdbcType=VARCHAR},
      asset_trans_result = #{assetTransResult,jdbcType=VARCHAR},
      interest = #{interest,jdbcType=DECIMAL},
      asset_repayment_result = #{assetRepaymentResult,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cover_charge = #{coverCharge,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      drawals_status = #{drawalsStatus,jdbcType=CHAR},
      gateway_pay_status = #{gatewayPayStatus,jdbcType=CHAR},
      repayment_status = #{repaymentStatus,jdbcType=CHAR},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      gateway_pay_time = #{gatewayPayTime,jdbcType=TIMESTAMP},
      drawals_time = #{drawalsTime,jdbcType=TIMESTAMP},
      bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      loan_biz_id = #{loanBizId,jdbcType=VARCHAR},
      order_fund_status = #{orderFundStatus,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      id_card_pic = #{idCardPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 这个方法是我自己加的 -->
  <select id="selectAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from df_assets
  </select>
</mapper>